<div id="manage_album_drawer" class="drawer-component" style="width: 25%;">
  <div class="drawer-header">
    <div slot="header"><h4>Add an album</h4></div>
    <span class="material-symbols-outlined close-album-drawer-btn" style="cursor: pointer">close</span>
  </div>
  <div class="drawer-content">
    <div slot="content"></div>
  </div>
  <div class="drawer-footer">
    <div slot="footer" class="w-100">
      <button type="button" class="btn btn-save">Save</button>
      <button type="button" class="btn close-album-drawer-btn btn-cancel">Cancel</button>
    </div>
  </div>
</div>
