<div id="manage_song_drawer" class="drawer-component" style="width: 75%;">
  <div class="drawer-header">
    <div slot="header"><h4>Add a song(s)</h4></div>
    <span class="material-symbols-outlined close-song-drawer-btn" style="cursor: pointer">close</span>
  </div>
  <div class="drawer-content">
    <div slot="content">
      <input multiple="multiple" accept="audio/flac,audio/mp3,audio/aac,audio/mpeg" type="file" name="song[audio_file][]" id="song_audio_file" hidden>
      <span class="material-symbols-outlined add_song_icon">add_circle</span>
      <form id="manage_song_form">
        <div id="songs-selection-table"></div>
      </form>
    </div>
  </div>
  <div class="drawer-footer">
    <div slot="footer" class="w-100">
      <button type="button" class="btn btn-save">Save</button>
      <button type="button" class="btn close-song-drawer-btn btn-cancel">Cancel</button>
    </div>
  </div>
</div>