#artists-table{
    .artist-avatar{
        width: 80px;
        height: 80px;
        border-radius: 10px;
        object-fit: cover;
    }

    .artist-name{
        color: var(--color-artist-text);
        text-decoration: underline;
        cursor: pointer;
    }

    .artist-delete{
        cursor: pointer;
        &:hover{
            color: var(--color-red);
        }
    }

    .bio-column {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

#manage_artist_drawer{
    .btn-save{
        background-color: var(--color-artist);
    }

    .btn-save:hover{
        background-color: var(--color-artist);
    }

}